.hidden {
    display: none;
}

#content {
    height: 1000px;
}

.wiggle:hover {
    -webkit-animation: none;
}

.short-animate {
    height: 100%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.long-animate {
    -webkit-transition: .5s .5s ease-in-out;
    -moz-transition: .5s .5s ease-in-out;
    -ms-transition: .5s .5s ease-in-out;
    -o-transition: .5s .5s ease-in-out;
    transition: .5s .5s ease-in-out;
}

.lightbox {
    position: fixed;
    top: -100%;
    bottom: 100%;
    height: 1000px;
    left: 0;
    right: 0;
    background: rgba(83, 227, 166, 0.8);
}

#lightbox-controls {
    position: fixed;
    margin-top: 70px;
    height: 70px;
    width: 70px;
    top: -70px;
    right: 0;
    z-index: 502;
    background: rgba(0, 0, 0, .1);
}

#close-lightbox {
    margin-top: 70px;
    display: block;
    position: fixed;
    overflow: hidden;
    height: 50px;
    width: 50px;
    text-indent: -5000px;
    right: 10px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#close-lightbox:before {
    content: '';
    display: block;
    position: fixed;
    height: 0px;
    width: 3px;
    left: 24px;
    top: 0;
    background: white;
    border-radius: 2px;
    -webkit-transition: .5s .5s ease-in-out;
    -moz-transition: .5s .5s ease-in-out;
    -ms-transition: .5s .5s ease-in-out;
    -o-transition: .5s .5s ease-in-out;
    transition: .5s .5s ease-in-out;
}

#close-lightbox:after {
    content: '';
    display: block;
    position: fixed;
    width: 0px;
    height: 3px;
    top: 24px;
    left: 0;
    background: white;
    border-radius: 2px;
    -webkit-transition: .5s 1s ease-in-out;
    -moz-transition: .5s 1s ease-in-out;
    -ms-transition: .5s 1s ease-in-out;
    -o-transition: .5s 1s ease-in-out;
    transition: .5s 1s ease-in-out;
}

.lightbox:target {
    top: 0%;
    bottom: 0%;
    opacity: 1;
}

.lightbox:target img {
    max-width: 100%;
    max-height: 100%;
}

.lightbox:target ~ #lightbox-controls {
    top: 0px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:after {
    width: 50px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:before {
    height: 50px;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(2deg);
    }
    20% {
        -webkit-transform: rotate(-2deg);
    }
    40% {
        -webkit-transform: rotate(2deg);
    }
    60% {
        -webkit-transform: rotate(-2deg);
    }
    80% {
        -webkit-transform: rotate(2deg);
    }
    100% {
        -webkit-transform: rotate(-2deg);
    }
}

.box_me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;

}

.box_me_question, .box_me_teacher {
    border-radius: 10px;
    box-shadow: 5px 5px 4px #000000;
    width: 49%;
    background: #e3e3e3;
    padding: 10px;
    font-weight: 800;
}

.box_me_question p, .box_me_teacher p {
    font-weight: 200;
    letter-spacing: 2px;
}